.app {
    padding-top: 50px;
    text-align: center;
}

.app2 {
    padding-top: 50px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.result {
    padding-top: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
}

.btn {
    width: 150px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    margin-top: 50px;
}

.title {
    font-family: 'Frijole', cursive;
    font-size: 3.5em;
}

@media only screen and (max-width: 600px) {
.title {
    font-size: 2em;
}}

@media only screen and (max-width: 600px) {
.result {
    font-size: 3em;
}}

.lock {
    font-family: 'Frijole', cursive;
    font-size: 1.8em;
}

@media only screen and (max-width: 600px) {
.lock {
    font-family: 'Frijole', cursive;
    font-size: 1.2em;
}}

.app3 {
    padding-top: 50px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

@media only screen and (max-width: 600px) {
.app3 {
    padding-top: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}}

.clock {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5em;
    color: #800000;
}
