.app {
    padding-top: 50px;
    text-align: center;
}

.result {
    padding-top: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 5em;
}

.btn {
    width: 270px;
    height: 120px;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    margin-top: 50px;
}

.title {
    font-family: 'Frijole', cursive;
    font-size: 3.5em;
}